/* empty basket */
.empty_checkout_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: white;
    border-bottom: 1px solid #131921;
}

.empty_checkout_container > h1{
    line-height: 200%;
}
.empty_checkout_container > p {
    font-size: 12px;
    line-height: 200%;
}
.empty_checkout_container > button {
    margin-top: 50px;
    background-color: #131921;
    color: white;
    height: 40px;
    font-weight: 600;
    font-size: 15px;
    padding: 0 20px;
}
.empty_checkout_container>button:hover {
    background-color: #f5f5f5;
    color: #131921;
}


/* checkout subtotal header */
.checkout {
    display: flex;
    border: 0 solid #d7d7da;
    box-sizing: border-box;
    background-color: white;
    height: max-content;
    flex-direction: column;
    border-bottom: 1px solid #131921;
}
.checkout > .checkout_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #131921;
    padding: 3vh 5vw 3vh;
}

.checkout > .checkout_header >.subtotal_left {
    display: flex;
    width: 70%;
    flex-direction: column;
}
.checkout > .subtotal_left > .subtotal_item {
    margin-top: 5px;
    font-weight: 400;
}

.checkout > .checkout_header .subtotal {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

/* checkout product list */
.checkout_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1vh 3vw;
}

.checkout_product {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 5vh 2vw;
}
.checkout_product_image {
    box-sizing: border-box;
    width: 20%;
    vertical-align: middle;
    cursor: pointer;
}

.checkout_product_image >.checkout_product_img {
    width: 100px;
}
.checkout_product_info {
    width: 40%;
}
.checkout_product_info>.qty_wrapper {
    margin-bottom: 1vh;
}
.checkout_product_info >.qty_wrapper >button {
    border:none;
    cursor: pointer;
}

.checkout_product_info .checkout_product_title {
    font-weight: 400;
    margin: 10px 0 30px 0;
}
.checkout_product_info .checkout_remove_btn {
    border: none;
    border-bottom: 1px solid #131921;
    background-color: white;
    color:#131921;
    font-size: 15px;
}
.checkout_product > .checkout_product_price {
    width: 40%;
    display:flex;
    flex-direction: column;
    margin-top: -10%;
    
}
.checkout_product>.checkout_product_price .checkout_product_amount {
    display:flex;
    justify-content: flex-end;
}

/* checkout footer */
.checkout_footer {
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    margin-bottom: 20px;
}
.checkout_total {
    border-top: 2px solid #131921;
    display: flex;
    flex-direction: row;

    justify-content: space-between;

}
.checkout_total h3 {
    width: 70%;

}
.checkout_delivery_icon {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.checkout_delivery_icon svg {
    margin: 0 10px;
    color: #131921;
}
.checkout_delivery_icon a {
    width: 30px;
    height: 30px;
}
.checkout_footer > button {
    margin-top: 50px;
    background-color: #131921;
    color: white;
    height: 40px;
    font-weight: 600;
    font-size: 15px;
    padding: 0 20px;
    cursor: pointer;
}

.checkout_footer>button:hover {
    background-color: white;
    color: #131921;
}