.header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}
.header > a {
    width: 50%;
}

.header_logo {
    height: 60px;
    margin: 0 30px;
}
/* .header_search{
    display: flex;
    flex: 1; 
    align-items: center;
    border-radius: 24px;
}
.header_searchInput {
    height: 20px;
    padding:10px;
    border: none;
    width:80%;
    outline: none;
    border-radius: 50px;
    font-size: 14px;
}

.header_searchIcon {
    padding: 5px 10px;
    height: 30px !important;
    background: linear-gradient(90deg, #ff9000, #ff5000);
    border-radius: 20px;
    cursor: pointer;
    margin-left: -40px;
} */
.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5vw;
    width: 40%;
}
.header_nav >a{
    width: 40%;
} 
.header_nav>.header_optionShoppingBag{
    width: 10%;
}
.header_option {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    color:white;
}

.header_optionLineOne {
    font-size: 12px;
}
.header_optionLineTwo {
    font-size: 15px;
    font-weight: 800;
}

.header_optionShoppingBag {
    display: flex;
    color: white;
    align-items: center;
    margin: 0 35px;
    position: relative;
}

.header_optionShoppingBag svg {
    width: 35px;
    height: 35px;
    color: white;
}
.header_shoppingCount {
    margin: 14px 0 0 -10px; 
    background-color: #131921;
    font-size: 21px;
    position:absolute;
    color:white;
}
