.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
    border: 1px solid #131921;
    border-radius: 4px;
    box-shadow: 0 5px 16px 0 rgb(50 50 51 / 31%);
    background-color: white;
}
/* .login_logo {
    background-color: #131921;
    width: 100%;
    align-items: center;
    height: 20%;
} */

.login_img {
    width: 150px;
    object-fit: contain;
}

.login_form {
    max-width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}
.login_form > h1 {
    text-align: center;
    margin-bottom: 20px;
}
.login_form form > h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}
.login_form form > input {
    height : 40px;
    margin-bottom: 10px;
    background-color: white;
    width: 100%;
    font-size: 20px;
}
.login_form form>.login_checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.login_form form > .login_checkbox > input {
    height: 18px;
    margin-right: 10px;
}

.login_form form > .signIn-btn {
    color: white;
    background-color: #131921;
    width: 100%;
    font-size: 18px;
    height: 30px;
    cursor: pointer;
}

.sign_up {
    margin-top: 30px;
}

.sign_up h5 {
    font-size: 18px;
    margin: 10px 0;
}

.sign_up .loginform_signUp-btn {
    color: white;
    background-color: #131921;
    width: 100%;
    font-size: 18px;
    height: 30px;
    cursor: pointer;
}


/* signup form */

.signup_form {
    max-width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.sign_up .signupform_login-btn {
    color: white;
    background-color: #131921;
    width: 100%;
    font-size: 18px;
    height: 30px;
    cursor: pointer;
}

.signup_form>h1 {
    text-align: center;
    margin-bottom: 20px;
}

.signup_form form>h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}

.signup_form form>input {
    height: 40px;
    margin-bottom: 10px;
    background-color: white;
    width: 100%;
    font-size: 20px;
}

.signup_form form>.signup_checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.signup_form form>.signup_checkbox>input {
    height: 18px;
    margin-right: 10px;
}

.signup_form form > .signUp-btn {
    color: white;
    background-color: #131921;
    width: 100%;
    font-size: 18px;
    height: 30px;
    cursor: pointer;
}

.sign_up{
    margin-top: 30px;
}

.loginform_sign_up h5 {
    font-size: 18px;
    margin: 10px 0;
}

.loginform_sign_up .loginform_signUp-btn {
    color:white;
    background-color: #131921;
    width: 100%;
    font-size: 18px;
    height: 30px;
    cursor: pointer;
} 