.back_to_checkout {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:1vh 2vw 5vh 2vw;
    width: 100%;
    cursor: pointer;
}
.back_to_checkout:hover {
    color:#8b8e92;
}

.back_to_checkout svg {
    margin-right: 2vw;

}
.payment_body {
    width: 100%;

    border-bottom: 2px solid #131921;
}
.payment_delivery{
    display:flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    margin: 1vh 2vw;
}
.payment_delivery>button{
    background-color: white;
    border: none;
}

/* delivery form */
.delivery_form {
    display:flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    margin: 1vh 2vw;
}

.delivery_form >label> input{
    width: 70%;
    border:none;
    border-bottom: 1px solid #131921;
    margin-top: 10px;
}
.delivery_form>button {
    cursor: pointer;
    background-color: #131921;
    color:white;
    height: 30px;
}
.delivery_info_show {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1vh 5vw;
    padding: 10px;
    font-size: 12px;
    background-color: #e2e3e4;
    border-radius: 4px;
}
.delivery_info_hide {
    display: none;
}

.payment_items {
    display:block;
}

/* payment checkout Product list */
.payment_items .checkout_product .checkout_product_info >.qty_wrapper>.payment_item_qty {
    display: none;
}
.payment_items .checkout_product .checkout_product_info>.checkout_remove_btn{
    display:none;
}

/* payment footer */

.payment_section {
    display:flex;
    flex-direction: column;
    margin: 2vh 2vw;
    
}
.payment_total_amount {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2vh;
    padding: 2vh 0;
    border-bottom: 1px solid #c3c4c5;
}

/* payment billing part */
.payment_nextstep_show {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
}
.payment_nextstep_show> button {
    margin-top: 50px;
    background-color: #131921;
    color: white;
    height: 40px;
    font-weight: 600;
    font-size: 15px;
    padding: 0 20px;
    cursor: pointer;
}

.payment_nextstep_hide {
    display: none;
}


/* payment billing show card form */
.payment_step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20vh;
    padding: 2vh 2vw;
    border: 1px solid #c3c4c5;
    border-radius: 4px;
    box-shadow: 0 5px 16px 0 rgb(50 50 51 / 31%);
    background-color: white;
}
.payment_step .payment_title {
    line-height: 40px;
    display:flex;
    flex-direction: row;
    align-items: center;
}



.payment_step .payment_details {
    height: 100%;
    width: 80%;
}

.payment_step .payment_details> form {
    display:flex;
    flex-direction: column;
    margin: 30px 0;
}
.payment_step .payment_details>form>.card_details{
    margin: 2vh 0;
    font-size: 30px;
}
.price_container {
    margin: 2vh 0 ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.payment_step .payment_details>form>button {
    
    background-color: #131921;
    color: white;
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    padding: 0 20px;
    cursor: pointer;
}

.card-error {
    color: red;
    font-size: 15px;
    margin: 50px 0 20px 0;
}
.result_message {
    font-size: 15px;
    font-weight: 600;

}
.result_message_hide {
    display: none;
}