.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    padding: 0 2% 2% 2%;
    width: 100%;
    max-width: 30vw;
    /* min-width: 100px; */
    background-color: white;
    z-index: 1;
    border: 1px solid #e2e3e4;
    border-radius: 4px;
    justify-content: flex-end;
}
.product:hover {
    border: 1px solid #131921;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.product>.product_img {
    display: flex;
    height: 50%;
    
    margin: 5%;
    align-items: flex-start;
}


.product>.product_img>img {
    width:100%;
    height: auto;
    display:block;
}


.product_info {
    height: 30%;
    margin-bottom: 1%;
    object-fit: contain;
    flex-wrap: wrap;
    display:flex;
    flex-direction: column;
}
.product_info > .product_title {
    height: 80%;
}

.product_info >.product_title > div:hover {
    cursor: pointer;
    text-decoration: underline;
}
.product_info >.product_title>div > h5{
    font-weight: 400;
    height: 60%;
    margin-top: 5px;
}
.product_info_footer {
    height: 20%;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.product_info_footer > .product_price {
    height: 50%;
}

.product_info_footer  > .product_add_to_cart {
    height: 50%;
    display:flex;
    justify-content: baseline;
}
.product_info_footer > .product_add_to_cart > .product_button{
    background-color: #131921;
    border: 1px solid;
    margin-top: 1%;
    border-color: #131021;
    color: white;
    height: 30px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}
.product_info_footer > .product_add_to_cart >.product_button:hover {
    background-color: #f5f5f5;
    color: #131921;
}

.product_price{
    margin-top: 1%;
    margin-bottom: 0;
}

.product_rating {
    display: flex;
    height: 10%;
    
}
.product_rating > p{
    color:rgb(248, 209, 136);
} 

@media (max-width: 390px) {
    .product {
        max-width: 80vw;
    }
    .product> .product_img{
        height: 50%;
    }
    .product_info{
        height: 30%;
    }
    .product_info>.product_title{
        height: 60%;
    }
}