.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    border: 1px solid #e2e3e4;
    border-radius: 4px;

}
.product:hover {
    border: 1px solid #131921;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.product_info {
    height: 100px;
    margin-bottom: 15px;
}
.product >a > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > .product_button {
    background-color: #131921;
    border: 1px solid;
    margin-top: 10px;
    border-color: #131021;
    color: white;
    height: 30px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}
.product > button:hover {
    background-color: #f5f5f5;
    color: #131921;
}

.product_price{
    margin-top: 5px;
}

.product_rating {
    display: flex;
}
.product_rating > p{
    color:rgb(248, 209, 136);
}