.slider_container {
    width:  100vw;
    height: 500px;
    margin: 5vh auto ;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
}
.slider_inner {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    /* background-position: fixed; */
    /* animation: blender 5s linear 50ms;
    opacity:1; */
}
/* @keyframes blender {
    0% {
        opacity: 0.2;
        transform: translate(-25px);
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
        transform: translate(-10px);
    }
} */


.slider_inner .slider_left_arrow {
    width:8%;
    background-color: #131921;
    opacity: 0.5;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
}
.slider_inner .slider_left_arrow svg {
    width: 50px;
    height: 50px;
}
.slider_inner .slider_center {
    width: 84%;
    background-color: #131921;
    opacity: 0.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.slider_inner .slider_right_arrow {
    width: 8%;
    background-color: #131921;
    opacity: 0.5;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
}
.slider_inner .slider_right_arrow svg{
    width: 50px;
    height: 50px;
}

.slider_titles {
    position:absolute;
    margin-top: -150px;
    margin-left: 65vw;
    color: white;
}
@media screen and (max-width: 700px) {
    .slider_container {
        margin: 10px 10px 0 0;
    }
    .slider_titles{
        margin-left: 50vw;
    }

}
